<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title><%= title %> | Investment Planner</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container">
            <% if(user) { %>
                <a class="navbar-brand text-light" href="#">Welcome <span class="text-info"><%= user.name %></span></a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Portfolio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Optimize
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                                <a class="dropdown-item text-light" href="#">Featured</a>
                                <a class="dropdown-item text-light" href="#">Custom</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Investments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Returns</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-light" href="/logout">Logout</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                More
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item text-light" href="/terms">Terms & Conditions</a>
                                <a class="dropdown-item text-light" href="/about">About Us</a>
                                <a class="dropdown-item text-light" href="#">Give Feedback</a>
                            </div>
                        </li>
                    </ul>
                </div>
            <% } else { %>
                <a class="navbar-brand text-light" href="/">Investment Planner</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/signup">Signup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/login">Login</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More
                            </a>
                            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-light" href="/terms">Terms and Conditions</a>
                                <a class="dropdown-item text-light" href="/about">About Us</a>
                            </div>
                        </li>
                    </ul>
                </div>
            <% } %>
        </div>
    </nav>
    <div class="container">