<%- include('partials/header.ejs') %>

<div class="my-5 text-center">
    <h1 class="h1">ERROR 404</h1>
    <h3 class="h3">Oops! This page doesn't exist</h3>
</div>

<%- include('partials/footer.ejs') %>