<%- include('partials/header.ejs') %>

<div class="text-center my-5 py-5">
    <h3 class="text-center">
        I'm Astel Thottankara, an ECE sophomore at SVNIT, Surat<br>
        I love building creative websites that solve real life problems<br>
        Actively participating in hackathons<br>
        <br>
        As this project is open-sourced, feel free to contribute.<br>
        As there is always room for improvement.
    </h3><br><br>
    <h3>Connect with me here</h3>
    <ul class="nav flex-column media_links">
        <li class="nav-item">
            <a class="nav-link active" href="https://github.com/astonizer">Github</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/astel-thottankara-39289919b/">LinkedIn</a>
        </li>
        <li class="nav-item">
             <a class="nav-link" href="https://www.instagram.com/_ash009_/">Instagram</a>
        </li>
    </ul>
</div>

<%- include('partials/footer.ejs') %>