<%- include('partials/header.ejs') %>

<div class="my-5 text-center">
    <h1 class="h1">The server is temporarily down or is not able to handle your request</h1>
    <h2>Please try again later</h2>
</div>

<%- include('partials/footer.ejs') %>