<%- include('partials/header.ejs') %>

<div class="investment-plots container text-center">
    <div class=”row align-items-center”>
        <div class=”col-6”>
            <h1 class="my-2">Your Investment Details</h1>
        </div>
        <div class="col-6">
            <div id="investment-graph" class="align-self-center"></div>
        </div>
    </div>
    </div>
        <h3>Investments</h3><br>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                    <div class="carousel-item{% if loop.index == 1 %} active{% endif %}">
                        <div id="myDiv"></div>
                    </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>

    fetch('url', {
        method: 'GET'
    })
    .then(graphData => {
        console.log(graphData);
    })
    .catch(error => {
        console.error('Error:', error);
    });

    // category plot
    let data = [{
        values: [19, 26, 55],
        labels: ['Small Cap', 'Mid Cap', 'Large Cap'],
        type: 'pie'
    }];

    let layout = {
        height: 400,
        width: 500
    };


    // Plotly.newPlot('myDiv', trace);
    Plotly.newPlot('investment-graph', data, layout);
</script>

<%- include('partials/footer.ejs') %>